@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font: 1.1rem 'Roboto', Arial, sans-serif;
  font-weight:300;
  line-height:1.625em;
  color:#596270;
  background:#fff;
}

a {
  color: #3466B1;
  text-decoration: none;
  outline: none;
}

a:active, a:focus, a:hover {
  color: #343da2;
  text-decoration: none;
  outline: none;
}

h1, .h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2, .h2 {
  font-size: 1.75rem;
  font-weight: 400;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1rem;
}

h6, .h6 {
  font-size: 0.9rem;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1, h1 a, .h1, .h1 a,
h2, h2 a, .h2, .h2 a,
h3, h3 a, .h3, .h3 a,
h4, h4 a, .h4, .h4 a,
h5, h5 a, .h5, .h5 a,
h6, h6 a, .h6, .h6 a {
  color: #727f94;
}

h1 a:active, h1 a:focus, h1 a:hover
h2 a:active, h2 a:focus, h2 a:hover
h3 a:active, h3 a:focus, h3 a:hover
h4 a:active, h4 a:focus, h4 a:hover {
  color: #8493ab;
}

img {
  max-width: 100%;
}

ul, ol {
  margin-bottom: 1.5em;
}
ul li {
  padding-bottom: 6px;
}

table {
  width: 100%;
  margin-bottom: 1.5em;
}
table thead {
  background: #555555;
  color: #fff;
}
table td,
table th {
  padding-left: 5px;
}

#site-sidebar {
  background: #e4e7ec;
}
#site-footer {
  color:#a6aeb7;
}
@media (max-width: 767px) {
  #site-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  #site-content {
    margin-top: 80px;
  }
}

.navbar-brand {
  font-size: 2em;
  color: #727f94;
  margin: 0;
}
.navbar-brand a {
  color: #727f94;
}
.navbar-toggler {
  font-size: 1.0rem;
  background: #727f94;
}
.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:hover {
  background: #8493ab;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

article.page {
  position: relative;
  margin-bottom: 80px;
}

article header h1,
article header h2 {
  font-size: 2em;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

article header a:active,
article header a:focus,
article header a:hover {
  text-decoration: none;
}

.btn-default,
.page-item .page-link {
  background: #757e8e;
  color: #fff;
}

.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.page-item .page-link:active,
.page-item .page-link:focus,
.page-item .page-link:hover {
  background-color: #858e9e;
  border-color: #fff;
}

.page-item.disabled .page-link {
  background: #757e8e;
  color: #aaa;
}
.btn-primary,
.page-item.active .page-link {
  background-color: #58606f;
  border-color: #dee2e6;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.page-item.active .page-link:active,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  background-color: #68707f !important;
  border-color: #eef2b6 !important;
}

div.plugin:not(:last-child) {
  margin-bottom: 40px;
}
div.plugin > h1,
div.plugin > h2,
div.plugin > h3,
div.plugin > h4,
div.plugin > h5 {
  font-size: 1em;
}
div.plugin h2.plugin-label {
  color: #586374;
  font-size: 1.1em;
  font-stretch: condensed;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0 10px;
}
div.plugin ul {
  list-style: none;
  padding: 0;
}
div.plugin-menu li.menu:not(:last-child) {
  margin-bottom: 10px;
}
div.plugin-menu ul.submenu {
  margin-left: 10px;
}
div.plugin-pages li.parent h3 {
  margin-bottom: 5px;
  margin-top: 10px;
}
div.plugin-pages ul.child {
  margin-left: 5px;
}
div.plugin-tags ul {
  list-style-type: none;
}
div.plugin-tags li {
  display: inline-block;
  padding: 0px 5px;
}

@media (min-width: 992px) {
  .publish-date{
    position: absolute;
    left: -6em;
    top: 0;
    max-width: 8em;
    background: #fff;
    padding: .2em .5em;
  }
  .month,.day,.year{
    display: block;
    text-align: center;
  }
  .month,.day {
    font-weight:700;
  }
  .day{
    font-size:2em;
  }
}
@media (max-width: 991px) {
  .publish-date {
    font-weight: 600;
  }
}

.css-truncate {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}

code {
  display: inline-block;
  max-width: 100%;
  overflow: auto;
  vertical-align: top;
}
