@charset "UTF-8";

body {
  font: 16px 'Roboto', Arial, sans-serif;
  font-weight:300;
  line-height:1.625em;
  color:#596270;
  background:#e4e7ec;
  background:-moz-linear-gradient(left, #e4e7ec 10%, #ffffff 75%);
  background:-webkit-gradient(linear, left top, right top, color-stop(10%,#e4e7ec), color-stop(75%,#ffffff));
  background:-webkit-linear-gradient(left, #e4e7ec 10%,#ffffff 75%);
  background:-o-linear-gradient(left, #e4e7ec 10%,#ffffff 75%);
  background:-ms-linear-gradient(left, #e4e7ec 10%,#ffffff 75%);
  background:linear-gradient(to right, #e4e7ec 10% ,#ffffff 75%);
}

a {
  color: #3466B1;
  text-decoration: none;
  outline: none;
}

a:active, a:focus, a:hover {
  color: #3458a2;
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4 {
  color:#727F94;
  font-weight:300;
}

img {
  max-width: 100%;
}

ul, ol {
  margin-bottom: 1.5em;
}

ul li {
  padding-bottom: 6px;
}

table {
  width: 100%;
  margin-bottom: 1.5em;
}

table thead {
  background: #555555;
  color: #FFF;
}

table td,
table th {
  padding-left: 5px;
}

article.page {
  position: relative;
  margin-bottom: 80px;
}

article.page header {
  margin-bottom: 20px;
}

article.page header a:hover {
  text-decoration: none;
}

article.page header h2 {
  font-size: 2.4em;
}

article.page footer {
  text-align: right;
}

.pagination {
  width: 100%;
  background: #fff;
}

.pagination > li > a.float-right {
        float: right;
}

div.plugin:not(:last-child) {
  margin-bottom: 40px;
}

div.plugin > h1,
div.plugin > h2,
div.plugin > h3,
div.plugin > h4,
div.plugin > h5 {
  font-size: 1em;
}

div.plugin h2.plugin-label {
  color: #586374;
  font-size: 1.1em;
  font-stretch: condensed;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0 10px;
}

div.plugin ul {
  list-style: none;
  padding: 0;
}

div.plugin-menu li.menu:not(:last-child) {
  margin-bottom: 10px;
}

div.plugin-menu ul.submenu {
  margin-left: 10px;
}

div.plugin-pages li.parent h3 {
  margin-bottom: 5px;
  margin-top: 10px;
}

div.plugin-pages ul.child {
  margin-left: 5px;
}

div.plugin-tags ul {
  list-style-type: none;
}

div.plugin-tags li {
  display: inline;
}

.video-embed {
  overflow:hidden;
  padding-bottom: 56.25%; /* 16:9 */
  position:relative;
  height:0;
}
.video-embed iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

#site-header {
  text-align:center;
  margin-bottom:2em;
}

#site-header h1 {
  font-size:2em;
}

#site-header img {
  max-width:50%;
}

#site-footer {
  font-size:90%;
  color:#A6AEB7;
  padding:3em 1em;
}

#site-sidebar {
  padding-right: 4em;
}

#site-content {
  background: #fff;
}

.content {
  padding:2em 2em 0;
}

.publish-date{
  position: absolute;
  top: -1.3em;
  left: -6.2em;
  max-width: 8em;
  background: #fff;
  padding: .2em .5em;
}

.month,.day,.year{
  display:block;
  text-align:center;
}

.month,.day {
  font-weight:700;
}

.day{
  font-size:2em;
}
